.deck {
    padding: 5px;
    width: 96%;
    margin-left: 5px;
    border-bottom: 1px solid #999;
}

.tour, .player, .deck-name {
    word-break:keep-all;
}

@media (min-width:600px) {
    .tour, .player, .deck-name {
        font-size: 32px;
    }
}

@media (min-width:480px) and (max-width:599px) {
    .tour, .player, .deck-name {
        font-size: 26px;
    }
}

@media (max-width:479px) {
    .tour, .player, .deck-name {
        font-size: 20px;
    }
}