.img {
    width: 96%;
    max-width: 720px;
}

#loading {
    text-align: center;
}

#loading {
    padding: 10px;
}

#idioma {
    margin-bottom: 5px;
}

#table {
      margin-left: auto ;
      margin-right: auto ;
}